@keyframes pulse-1 {
  0% { top: 36px; height: 128px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
@keyframes pulse-2 {
  0% { top: 41.99999999999999px; height: 116.00000000000001px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
@keyframes pulse-3 {
  0% { top: 48px; height: 104px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
.spinner-inner div { position: absolute; width: 30px }.spinner-inner div:nth-child(1) {
  left: 35px;
  background: #ee1f2d;
  animation: pulse-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.2s
}
.spinner-inner div:nth-child(2) {
  left: 85px;
  background: #e7de5e;
  animation: pulse-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.1s
}
.spinner-inner div:nth-child(3) {
  left: 135px;
  background: #456afe;
  animation: pulse-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: undefineds
}

.loadingio-spinner-pulse {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.spinner-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.spinner-inner div { box-sizing: content-box; }